{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="overflow-x: auto; overflow-y: auto; max-height: 600px;">
                        <table id="example2" class="table table-bordered table-hover" style="min-width: 800px;">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Mobile Number</th>
                                    <th>Linked Student</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for parent in parents %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{parent.admin.last_name}}, {{parent.admin.first_name}}</td>
                                    <td>{{parent.admin.email}}</td>
                                    <td>{{parent.mobile_number|default:"N/A"}}</td>
                                    <td>{{parent.student.admin.first_name}} {{parent.student.admin.last_name}}</td>
                                    <td>
                                        <a href="{% url 'edit_parent' parent.id %}" class="btn btn-info">Edit</a> -
                                        <a href="{% url 'delete_parent' parent.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
